button {
    width: 250px;
    font-size: 2.2em;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(27, 27, 94, 0.467);
}

.botonClic {
    background-color: #dc0000;
    color: rgb(255, 255, 75);
}

.botonReiniciar {
    background-color: rgb(1, 173, 1);
    color: rgb(8, 8, 48);
}

.botonReiniciar:hover {
    background-color: #e9e9e9;
}