.contador {
    min-width: 300px;
    height: 300px;
    font-size: 8em;
    padding: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid goldenrod;
    margin-bottom: 15px;
}