* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgba(41, 41, 41, 0.726);
  max-height: 900px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.logoContenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo {
  height: 150px;
}

.principalContenedor {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}